<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/info">Contact Info</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Contact Info</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header bg-primary text-light">
        <h4 class="my-auto" style="float: left;">Edit Contact Info</h4>
    </div>
    <div class="card-body bg-light text-dark">
        <%- include('../../partials/errorMessage') %>
        <form action="/admin/info/edit/<%= info._id %>?_method=PUT" method="post">
            <div class="form-group row con">
                <label class="col-sm-2 col-form-label col-form-label-sm">Address</label>
                <div class="col-sm-4 element1" id="address_1">
                    <% for(i=0; i< info.address.length; i++) { %>
                    <input type="text" name="address" id="txt_1" class="form-control form-control-sm"
                        value="<%= info.address[i] %>">
                    <% } %>
                </div>
                <button type="button" class="btn btn-info btn-sm add1" id="add1"><i class="fas fa-plus"></i></button>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">Phone</label>
                <div class="col-sm-4" id="phone">
                    <% for(j=0; j< info.phone.length; j++) { %>
                    <input type="tel" name="phone" class="form-control form-control-sm" value="<%= info.phone[j] %>">
                    <% } %>
                </div>
                <button type="button" class="btn btn-info btn-sm" id="add2"><i class="fas fa-plus"></i></button>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                <div class="col-sm-4" id="email">
                    <% for(k=0; k< info.email.length; k++) { %>
                    <input type="email" name="email" class="form-control form-control-sm" value="<%= info.email[k] %>">
                    <% } %>
                </div>
                <button type="button" class="btn btn-info btn-sm" id="add3"><i class="fas fa-plus"></i></button>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-4">
                    <input type="submit" value="Submit" class="btn btn-success btn-sm btn-block">
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <script>
    $('#add1').on('click', function (e) {
        e.preventDefault()
        $('div#address').after('<div class="form-group" id="newAddress">' + '<input type="text"  name="address" class="form-control form-control-sm">' + '<button type="button" class="btn btn-danger btn-sm" id="remove1"><i class="fas fa-times"></i>' + '</div>')
        $('#remove1').on('click', function (e) {
            e.preventDefault()
            $('div#newAddress').remove()
        })
    })
</script> -->
<script>
    $('#add2').on('click', function (e) {
        e.preventDefault()
        $('div#phone').append('<input type="tel" name="phone" class="form-control form-control-sm">')
    })
</script>
<script>
    $('#add3').on('click', function (e) {
        e.preventDefault()
        $('div#email').append('<input type="email" name="email" class="form-control form-control-sm">')
    })
</script>

<script>
    $(document).ready(function () {
        //Add new element
        $('.add1').click(function () {
            //finding total no. of elements added
            var total_element = $('.element1').length;
            //last <div> with element class id
            var lastid = $('.element1:last').attr('id');
            var split_id = lastid.split('_');
            var nextindex = Number(split_id[1]) + 1;

            var max = 5;
            //check total no. elemnts
            if(total_element < max) {
                //Adding new div container after last occurance of element class
                $('.element1:last').after('<div class="element1" id="address_'+ nextindex +'"></div>')
                //Adding element to <div>
                    $('#address_'+ nextindex).append('<input type="text" name="address" id="txt_'+ nextindex +'" class="form-control form-control-sm"><button type="button" id="remove_'+ nextindex +'" class="btn btn-danger btn-sm remove1"><i class="fas fa-times"></i>' )
            }
        })

        //Removing element
        $('.con').on('click', '.remove1', function(){
            var id = this.id
            console.log(id)
            var split_id = id.split('_')
            var deleteindex = split_id[1]

            //Removing <div> with id
                $('#address_'+ deleteindex).remove()
        })
    })
</script>