<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/blogs">Blog</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Blog Categories</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header bg-primary text-light">
        <h4 class="my-auto" style="float: left">All Blog Categories</h4>
        <a href="/admin/blogs/category/add" class="btn btn-primary btn-sm" style="float: right"><i class="fas fa-plus"> Add New</i></a>
    </div>
    <div class="card-body bg-light text-dark">
        <table class="table table-sm table-hover table-bordered table-responsive-sm">
            <thead>
                <th width="50px">S.No.</th>
                <th>ID</th>
                <th>Category</th>
                <th>Status</th>
                <th width="50px">&nbsp;</th>
            </thead>
            <tbody>
                <% categorys.forEach((category, sn=1)=> { %>
                <tr>
                    <td><%= sn+1 %></td>
                    <td><%= category._id %></td>
                    <td><%= category.category %></td>
                    <td>
                        <div class="form-inline">
                            <div class="col-sm-4">
                                <%= category.status %>
                            </div>
                            <form action="/admin/blogs/category/edit/<%= category._id %>?_method=PUT" method="POST">
                                <button class="btn btn-outline-primary btn-sm" type="submit"><i class="fas fa-eye-slash"></i></button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <form action="/admin/blogs/category/edit/<%= category._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>