<div class="row mt-4">
    <div class="col-md-4 ml-auto p-3">
        <img src="/<%= product.avatar %>" alt="" width="300px" height="300px;">
    </div>
    <div class="col-md-6 ml-auto">
        <table class="table">
            <tr>
                <th colspan="2">
                    <h5>General Information</h5>
                </th>
            </tr>
            <tr>
                <td>LocalName</td>
                <td><%= product.localName %></td>
            </tr>
            <tr>
                <td>Scientific Name</td>
                <td><%= product.scientificName %></td>
            </tr>
            <tr>
                <td>Nepali Name</td>
                <td><%= product.nepaliName %></td>
            </tr>

            <tr>
                <td>Product Code</td>
                <td><%= product.productCode %></td>
            </tr>
            <tr>
                <td>Availability</td>
                <td><%if(product.available) { %><%= 'available' %> <%}else{%> <%= 'Out of Stock'%><%}%></td>
            </tr>    
        </table>
    </div>
</div>
<div>
    <div class="pricing mb-4">
        <h4>Pricing</h4>
    <hr>
    <small>Contact Us for pricing Details</small>
    </div>
    <div class="offers mb-4">
        <h4>Special Offers</h4>
        <hr>
        <small>Currently there are no Offers for this item.</small>
    </div>
    <div class="details mb-4">
        <h4>Details</h4>
        <hr>
       <small> <%- product.details %></small>

    </div>
</div>