<h4 class="mt-3 mb-2">List of Products we offer</h4>
<table id="myTable" class="table table-responsive-sm">
    <thead>
        <th>Avatar</th>
        <th>Local Name</th>
        <th>Scientific Name</th>
        <th>Nepali Name</th>
        <th>Product Code</th>
        <th>Availability</th>
    </thead>
    <tbody>
        <% products.forEach(product => {%>
            <tr>
                <td><img src="/<%= product.avatar %>" alt="" height="40px" width="40px"></td>
                <td><a href="/products/<%= product.category.cata %>/<%= product.productCode %>"><%= product.localName %></a></td>
                <td><%= product.scientificName %></td>
                <td><%= product.nepaliName %></td>        
                <td><%= product.productCode %></td>
                <td>
                    <%if(product.available) { %><%= 'available' %> <%}else{%> <%= 'Out of Stock'%><%}%>
                </td>               
            </tr>
            <%})%>
    </tbody> 
</table>