<h4 class="mt-3 mb-2">List of Products We Offer:</h4>
<small class="mb-2">Contact Us For Pricing Details</small>
<hr>
<!-- <table id="myTable" class="table table-responsive-sm">
    <thead>
        <th>Avatar</th>
        <th>Local Name</th>
        <th>Scientific Name</th>
        <th>Nepali Name</th>
        <th>Product Code</th>
        <th>Availability</th>
    </thead>
    <tbody>
        <% products.forEach(product => {%>
            <tr>
                <td><img src="/<%= product.avatar %>" alt="" height="60px" width="60px"></td>
                <td class="align-middle"><a href="/products/<%= product.category.cata %>/<%= product.productCode %>"><%= product.localName %></a></td>
                <td class="align-middle"><%= product.scientificName %></td>
                <td class="align-middle"><%= product.nepaliName %></td>        
                <td class="align-middle"><%= product.productCode %></td>
                <td class="align-middle">
                    <%if(product.available) { %><%= 'available' %> <%}else{%> <%= 'Out of Stock'%><%}%>
                </td>               
            </tr>
            <%})%>
    </tbody> 
</table> -->
<table class="table table-responsive-sm table-striped table-bordered mt-2">
    <thead>
        <td>S.N</td>        
        <th>Name</th>
        <th width="200">Image</th>
        <th width="150">Remarks</th>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">1</td>            
            <td class="align-middle">Jatamasi</td>
            <td><img src="public/images/jatamasi.jpg" width="200px" height="200px"></td>
            <td class="align-middle">Only for Nepal</td>
        </tr>
        <tr>
            <td class="align-middle">2</td>            
            <td class="align-middle">Kutki</td>
            <td><img src="public/images/kutki.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">3</td>            
            <td class="align-middle">Tejpatta</td>
            <td><img src="public/images/tejpata.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">4</td>            
            <td class="align-middle">Ritha</td>
            <td><img src="public/images/ritha.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">5</td>            
            <td class="align-middle">Aamala</td>
            <td><img src="public/images/aamala.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">6</td>            
            <td class="align-middle">YarsaGumbha</td>
            <td><img src="public/images/yarsagumba.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">7</td>            
            <td class="align-middle">Chiraita</td>
            <td><img src="public/images/chiraita.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">8</td>            
            <td class="align-middle">Silajit</td>
            <td><img src="public/images/silajit.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
      
        <tr>
            <td class="align-middle">9</td>            
            <td class="align-middle">Timur</td>
            <td><img src="public/images/timur.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">10</td>            
            <td class="align-middle">Padamchal</td>
            <td><img src="public/images/padamchal.jpeg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>          
        <tr>
            <td class="align-middle">11</td>            
            <td class="align-middle">Setak Chini</td>
            <td><img src="public/images/setak.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">12</td>            
            <td class="align-middle">Aelo Vera</td>
            <td><img src="public/images/aelo.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">13</td>            
            <td class="align-middle">Rudraksha</td>
            <td><img src="public/images/rudraksha.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">14</td>            
            <td class="align-middle">Green Coffee Beans</td>
            <td><img src="public/images/coffee.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">15</td>           
            <td class="align-middle">Dry Ginger</td>
            <td><img src="public/images/ginger.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">16</td>            
            <td class="align-middle">Satuwa</td>
            <td><img src="public/images/satuwa.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">17</td>            
            <td class="align-middle">Tite Pati</td>
            <td><img src="public/images/tite.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">18</td>           
            <td class="align-middle">Barro</td>
            <td><img src="public/images/barro.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">19</td>            
            <td class="align-middle">Bojo</td>
            <td><img src="public/images/bojo.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
        <tr>
            <td class="align-middle">20</td>            
            <td class="align-middle">Harro</td>
            <td><img src="public/images/harro.jpg" width="200px" height="200px"></td>
            <td class="align-middle"></td>
        </tr>
    </tbody>
</table>