<form action="/query" method="GET">
    <select name="search" id="" class="form-control">
        <% options.forEach(option=> { %>
        <option value="<%= option.localName %>"><%= option.localName %></option>
        <% })%>

    </select>
    <input type="submit" value="Search" class="btn btn-block btn-danger">
</form>
<br>
<table id="myTable" class="table table-bordered table-striped table-responsive-sm">
    <thead>
        <th>S.No.</th>
        <th>Avatar</th>
        <th>Name</th>
        <th>Scientific Name</th>
        <th>Nepali Name</th>

        <th>Availability</th>
    </thead>
    <tbody>
        <% products.forEach((product, sn=1 )=> {%>
            <tr>
                <td class="align-middle">
                    <%= sn+1 %>
                </td>
                <td width="200px"><img src="/<%= product.avatar %>" alt="" height="200px" width="200px"></td>
                <td class="align-middle">
                    <a href="/products/<%= product.category.cata %>/<%= product.productCode %>">
                        <%= product.localName %>
                    </a>
                </td>
                <td class="align-middle">
                    <%= product.scientificName %>
                </td>
                <td class="align-middle">
                    <%= product.nepaliName %>
                </td>
                <td class="align-middle">
                    <%if(product.available) { %>
                        <%= 'available' %>
                            <%}else{%>
                                <%= 'Out of Stock'%>
                                    <%}%>
                </td>
            </tr>
            <%})%>
    </tbody>
</table>