<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/orders">Orders</a></li>
        <li class="breadcrumb-item active" aria-current="page">Order Details</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header bg-primary text-light">
        <div class="row">
            <div class="col-md-4">
                <h4 class="my-auto">Order Details</h4>
            </div>
            <div class="col-md-4 ml-auto">
                <form action="/admin/order/edit/<%= order._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-dark btn-sm" type="submit"><i class="fas fa-trash"></i></button>
                    <a class="btn btn-dark btn-sm" href="/admin/order/edit/<%= order._id %>"><i
                            class="fas fa-edit"></i></a>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body bg-light text-dark">
        <div class="list-group">
            <div class="list-group-item list-group-item-action py-1">
                <h6>ID: <%= order._id %></h6>
            </div>
            <div class="list-group-item list-group-item-action py-1">
                <h6>Customer: <%= order.customerId %></h6>
            </div>
            <div class="list-group-item list-group-item-action py-1">
                <h6>Product: <%= order.productId %></h6>
            </div>
            <div class="list-group-item list-group-item-action py-1">
                <h6>Quantity: <%= order.quantity %></h6>
            </div>
            <div class="list-group-item list-group-item-action py-1">
                <h6>Order Date: <%- order.createdAt %></h6>
            </div>
        </div>
    </div>
</div>