<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/adminlist">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Admin</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header bg-primary text-light">
        <h4 class="my-auto" style="float: left;">All Admin</h4>
        <a href="/admin/register" class="btn btn-primary btn-sm" style="float: right"><i class="fas fa-plus"> Add New</i></a>
    </div>
</div>
<div class="card-body bg-light text-dark">
    <table class="table table-sm table-hover table-bordered table-responsive-sm">
        <thead>
            <th>S.No.</th>
            <th>username</th>            
            <th>Submitted Date</th>
            <th>Edited Date</th>           
            <th width="40">&nbsp;</th>
        </thead>
        <tbody>
            <% admin.forEach((admin, sn=1)=> { %>
            <tr>
                <td><%= sn+1 %></td>
                <td><%= admin.username %></td>
                <td><%= admin.createdAt.toISOString().split('T')[0] %></td>
                <td><%= admin.updatedAt.toISOString().split('T')[0] %></td>            
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                            data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <form action="/admin/edit/<%= admin._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-primary btn-sm dropdown-item" type="submit"><i
                                            class="fas fa-trash"></i> Delete</button>
                                </form>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-sm dropdown-item"
                                    href="/admin/edit/<%= admin._id %>"><i class="fas fa-edit"></i> Edit</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</div>