<div class="card">
    <div class="card-header bg-primary text-light">
        <h4 class="my-auto">DashBoard</h4>
    </div>
    <div class="card-body">
        <div class="row justify-content-md-center">
            <!-- customers -->
            <div class="col-md-3 text-center m-2">
                <div class="card">
                    <div class="card-body">
                        <h5><i class="fas fa-user"></i></h5>
                        <h6><%= customers %></h6>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/customers">
                            <h6>Customers</h6>
                        </a>
                    </div>
                </div>
            </div>

            <!-- products -->
            <div class="col-md-3 text-center m-2">
                <div class="card">
                    <div class="card-body">
                        <h5><i class="fas fa-boxes"></i></h5>
                        <h6><%= products %></h6>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/products">
                            <h6>Products</h6>
                        </a>
                    </div>
                </div>
            </div>

            <!-- orders -->
            <div class="col-md-3 text-center m-2">
                <div class="card">
                    <div class="card-body">
                        <h5><i class="fas fa-shopping-bag"></i></h5>
                        <h6><%= orders %></h6>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/orders">
                            <h6>Orders</h6>
                        </a>
                    </div>
                </div>
            </div>

            <!-- inquiries -->
            <div class="col-md-3 text-center m-2">
                <div class="card">
                    <div class="card-body">
                        <h5><i class="fas fa-info"></i></h5>
                        <h6><%= inquiries %></h6>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/inquiries">
                            <h6>Inquires</h6>
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- quotes -->
            <div class="col-md-3 text-center m-2">
                <div class="card">
                    <div class="card-body">
                        <h5><i class="fab fa-quora"></i></h5>
                        <h6><%= quotes %></h6>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/quotes">
                            <h6>Quotes</h6>
                        </a>
                    </div>
                </div>
            </div>

            <!-- blogs -->
            <div class="col-md-3 text-center m-2">
                <div class="card">
                    <div class="card-body">
                        <h5><i class="fas fa-blog"></i></h5>
                        <h6><%= blogs %></h6>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/blogs">
                            <h6>Blogs</h6>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>