<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/customers">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Product Info</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header bg-primary text-light">
        <div class="row">
            <div class="col-md-4">
                <h4 class="my-auto">Product Info</h4>
            </div>
            <div class="col-md-4 ml-auto">
                <form action="/admin/product/edit/<%= product._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-trash"></i></button>
                    <a class="btn btn-primary btn-sm" href="/admin/product/edit/<%= product._id %>"><i
                            class="fas fa-edit"></i></a>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body bg-light text-dark">
        <div class="row m-auto p-3">
            <div class="col-md-4">
                <img src="/<%= product.avatar %>" alt="" width="200px" height="200px;">
            </div>
            <div class="col-md-6">
                <p class="h5 text-muted font-weight-bold">Product Details</p>
                <p class="h6">ID: <%= product._id %></p>
                <p class="h6">Local Name: <%= product.localName %></p>
                <p class="h6">Scientific Name: <%= product.scientificName %></p>
                <p class="h6">Nepali Name: <%= product.nepaliName %></p>
                <p class="h6">Available: <%= product.available %></p>
                <p class="h6">Category: <%= product.category.categoryName %></p>
                <p class="h6">Pricing: <%= product.pricing %></p>
                <p class="h6">Offer: <%= product.offers %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Details</h4>
                <small><%- product.details %></small>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Gallery</h4>
                <% gallery.forEach(img => { %>                   
                    <img src="/<%= img.image %>" width="250px" height="250px">
                <% }) %>
            </div>
            
        </div>
       
        <!-- <div class="list-group">
            <div class="list-group-item list-group-item-action py-1">
                <h6>ID: <%= product._id %></h6>
            </div>
            <div class="list-group-item list-group-item-action py-1">
                <h6>Local Name: <%= product.localName %></h6>
            </div>
            <div class="list-group-item list-group-item-action py-1">
                <h6>Scientific Name: <%= product.scientificName %></h6>
            </div>
            <div class="list-group-item list-group-item-action py-1">
                <h6>Nepali Name: <%= product.nepaliName %></h6>
            </div>
            <div class="list-group-item list-group-item-action py-1">
                <h6>Available: <%= product.vailable %></h6>
            </div>
            <div class="list-group-item list-group-item-action py-1">
                <h6>Category: <%= product.category %></h6>
            </div>
        </div> -->
    </div>
</div>