<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/customers">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Products</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header bg-primary text-light">
        <div class="row">
            <div class="col-md-4">
                <h4 class="my-auto">All Products</h4>
            </div>
            <div class="col-md-4 ml-auto">
                <a href="/admin/products/add" class="btn btn-info">Add New</a>
            </div>
        </div>
    </div>
    <div class="card-body bg-light text-dark">
        <table class="table table-sm table-hover table-bordered table-responsive">
            <thead>
                <th>S. No.</th>
                <th>Avatar</th>
                <th>Local Name</th>
                <th>Scientific Name</th>
                <th>Nepali Name</th>
                <th>Available</th>
                <th>Product Code</th>
                <th>Category</th>
                <th> &nbsp; </th>
            </thead>
            <tbody>
                <% products.forEach((product, sn=1 )=> { %>
                <tr>
                    <td><%= sn+1 %></td>
                    <td><%= product.avatar %></td>
                    <td><a href="/admin/product/<%= product._id %>"><%= product.localName %></a></td>
                    <td><%= product.scientificName %></td>
                    <td><%= product.nepaliName %></td>
                    <td><%= product.available %></td>
                    <td><%= product.productCode %></td>
                    <td><%= product.category %></td>
                    <td><form action="/admin/product/edit/<%= product._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-trash"></i></button>
                        <a class="btn btn-primary btn-sm" href="/admin/product/edit/<%= product._id %>"><i class="fas fa-edit"></i></a>
                        </form>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>